<div class="form_normal">
<h2 class="titulo" style="margin-left: 40px">Reenviar as instruções de confirmação</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form_interno' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :email %>&nbsp;
  <%= f.email_field :email %></div>
  <br />
  <div class="actions" style="margin-left: 12px"><%= f.submit "" %></div>
<% end %>
<div style="margin-left: 40px">
<%= render :partial => "devise/shared/links" %>
</div>
</div>
