<div id="main" role="main" class="application">
  <h1>Reenviar as instruções de confirmação</h1>

  <%= form_for(resource, :class => "formAligns", :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form_interno' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="letra_vermelha"><%= f.label :email %>
      <%= f.email_field :email %></div>
    <br />
    <div class="actions"><%= f.submit "Enviar" %></div>
  <% end %>
  <br />
  <div>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
