<div id="main" role="main" class="application">
<h1>Reenviar as instruções de confirmação</h1>

<%= form_for(resource, :class => "formAligns", :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form_interno' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :email %>&nbsp;
  <%= f.email_field :email %></div>
  <br />
  <div class="actions" style="margin-left: 12px"><%= f.submit "Enviar" %></div>
<% end %>
<div>
<%= render :partial => "devise/shared/links" %>
</div>
</div>
