<%= form_for(@offering,:html => {:multipart => true,:class => 'form_interno' }) do |f| %>
  <% if @offering.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% @offering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%= hidden_field_tag :event_id, params[:event_id].to_i %>
  <div class="letra_vermelha">
    <%= f.label 'Espaço: ' %>&nbsp;
    <%= f.select :resource_id, options_for_select(@select) %>
  </div>
  <div class="letra_vermelha">
    <%= f.label :'Título da oferta: *' %>&nbsp;
    <%= f.text_field :titulo , :style => "width: 15%;border-color: #A80713;" %>
  </div>
 
  <div class="letra_vermelha">
    <%= f.label 'Preço: *' %>&nbsp;
    <%= f.text_field :price , :style => "width: 15%;border-color: #A80713;" %>
  </div>
  <br />
  <div class="actions">
      <%= f.submit 'Enviar dados', :style=>"background-color:#A80713; color:white;width: 120px;
height: 40px;margin-left: 180px;border-radius: 10px;"%>
  </div>
<% end %>
