<h1>Listing offerings</h1>

<table>
  <tr>
    <th>Event_id</th>
    <th>Space_id</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offerings.each do |offering| %>
  <tr>
    <td><%= offering.event_id %></td>
    <td><%= offering.space_id %></td>
    <td><%= offering.price %></td>
    <td><%= link_to 'Show', offering if can? :show, offering %></td>
    <td><%= link_to 'Edit', edit_offering_path(offering) if can? :edit, offering %></td>
    <td><%= link_to 'Destroy', offering, confirm: 'Are you sure?', method: :delete if can? :destroy, offering %></td>
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Offering', new_offering_path %>-->
