<p id="notice"><%= notice %></p>

<p>
  <b>Id event:</b>
  <%= @offering.id_event %>
</p>

<p>
  <b>Id space:</b>
  <%= @offering.id_space %>
</p>

<p>
  <b>Price:</b>
  <%= @offering.price %>
</p>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
<% if @offering.user_id == current_user.id %>
	<%= link_to "Checar negociações", negociations_path(:offering_id => @offering.id) %>
<% else %>
	<%= form_for (@negociation) do |f| %>
	<%= hidden_field_tag "offering_id", @offering.id %>
	<%= hidden_field_tag "user_id", current_user.id %>
	<%= f.submit "Demonstrar interesse"%>
<%end%>
<%end%>
<div>
<% for question in @questions%>
<% usuario = User.find question.user_id %>

<h4> <%= usuario.name %> escreveu: </h4> 
<h4> Em <%= question.created_at.strftime('%d/%m/%Y %H:%M:%S')%> </h4>
<p> <%= question.text%> </p>
<%end%>
</div>

<%= form_for (@question) do |f| %>
	<%= hidden_field_tag "offering_id", @offering.id %>
	<%= f.text_area :text, :style => "width: 400px; height: 100px"%>
	<%= f.submit "Enviar"%>
<%end%>
