<div id="main" role="main" class="application">

  <h1>Editar usuário </h1>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
    :html => { :method => :put, :multipart => true, :class =>"form_interno form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="control-group letra_vermelha">
      <%= f.label "Foto mimi:" %>
      <div class="controls">
        <%= f.file_field :avatar  %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= f.label 'Nome:' %>
      <div class="controls">
        <%= f.text_field :name   %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= f.label 'CPF:' %>
      <div class="controls">
        <%= f.text_field :cpf   %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= f.label 'RG:' %>
      <div class="controls">
        <%= f.text_field :rg   %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= f.label 'Telefone:' %>
      <div class="controls">
        <%= f.text_field :telefone   %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= f.label 'Email:' %>
      <div class="controls">
        <%= f.email_field :email   %>
      </div>
    </div>

    <i>(deixe em branco se não deseja mudá-la)</i>
    <div class="control-group letra_vermelha">
      <%= f.label 'Nova senha: ' %>
      <div class="controls">
        <%= f.password_field :password, :autocomplete => "off"   %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= f.label 'Confirmar senha:' %>
      <div class="controls">
        <%= f.password_field :password_confirmation  %>
      </div>
    </div>

    <i>(precisamos da sua senha atual para confirmar as mudanças)</i>
    <div class="control-group letra_vermelha">
      <%= f.label 'Senha atual:'%>
      <div class="controls">
        <%= f.password_field :current_password   %>
      </div>
    </div>
    <div class="control-group letra_vermelha">
      <div class="controls">
        <div class="actions"><%= f.submit "Enviar dados"%></div>
      </div>
    </div>
  <% end %>
  <p>Infeliz? <%= link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Você tem certeza?", :method => :delete %>.</p>
</div>
