<div>
<div class="form_normal">
<h2 class="titulo" style="margin-left: 40px">Cadastre-se</h2>
<p style="margin-left: 40px;color: #B84848;padding: 0;font-size: 14px;">* Caso não receba o email de confirmação,verifique a pasta de Spam.</p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :class => 'form_interno'}) do |f| %>
  <%= devise_error_messages! %>
	<div class="field"><%= f.label 'Nome: *' %>&nbsp;
	<%= f.text_field :name %></div>

	<div class="field"><%= f.label 'Rg: *' %>&nbsp;
	<%= f.text_field :rg %></div>

	<div class="field"><%= f.label 'CPF: *' %>&nbsp;
	<%= f.text_field :cpf %></div>

	<div class="field"><%= f.label 'Telefone: *' %>&nbsp;
	<%= f.text_field :telefone %></div>

  <div class="field"><%= f.label 'Email: *' %>&nbsp;
  <%= f.email_field :email %></div>

  <div class="field"><%= f.label 'Senha: *' %>&nbsp;
  <%= f.password_field :password %></div>

  <div class="field"><%= f.label 'Confirmação de senha: *' %>&nbsp;
  <%= f.password_field :password_confirmation %></div><br />
	
	<div class="field"><%= f.label 'Foto: *'%>
	<%= f.file_field :avatar %></div><br />

  <div class="actions" style="margin-left: 149px"><%= f.submit "" %></div>
<% end %>
<br/>
<div style="margin-left: 40px">
<%= render :partial => "devise/shared/links" %>
</div>
</div>
	

