<div id="main" role="main" class="application">
    <div>
        <h1>Cadastre-se</h1>
        <p class="letra_vermelha">*Caso não receba o email de confirmação,verifique a pasta de Spam.</p>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),  :class => "formAligns", :html => { :multipart => true, :class => 'form_interno'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="letra_vermelha">
            <%= f.label 'Nome: *' %>&nbsp;
            <%= f.text_field :name, :style=>"border-color:#A80713 " %>
        </div>

        <div class="letra_vermelha">
            <%= f.label 'Rg: *' %>&nbsp;
            <%= f.text_field :rg, :style=>"border-color:#A80713 " %>
        </div>
        <div class="letra_vermelha">
            <%= f.label 'CPF: *' %>&nbsp;
            <%= f.text_field :cpf, :style=>"border-color:#A80713 " %>
        </div>

        <div class="letra_vermelha">
            <%= f.label 'Telefone: *' %>&nbsp;
            <%= f.text_field :telefone, :style=>"border-color:#A80713 " %>
        </div>

        <div class="letra_vermelha">
            <%= f.label 'Email: *' %>&nbsp;
            <%= f.email_field :email, :style=>"border-color:#A80713 " %>
        </div>

        <div class="letra_vermelha">
            <%= f.label 'Senha: *' %>&nbsp;
            <%= f.password_field :password, :style=>"border-color:#A80713 " %>
        </div>

        <div class="letra_vermelha">
            <%= f.label 'Confirmação de senha: *' %>&nbsp;
            <%= f.password_field :password_confirmation, :style=>"border-color:#A80713 " %>
        </div>

        <div class="field">
            <%= f.label 'Foto: *', :class=>"letra_vermelha"%>
            <%= f.file_field :avatar , :style=>"border-color:#A80713 "%>
        </div>

        <div>
            <%= f.submit "Enviar dados", :style=>"background-color:#A80713; color:white;width: 120px;
height: 40px;margin-left: 180px;border-radius: 10px;"%>
        </div>
        <% end %>
        <div>
            <%= render :partial => "devise/shared/links" %>
        </div>
    </div>
</div>


