<%= form_for(@house,  :class => "formAligns", :html => { :class => 'form_interno', :style=>"border-top: 3px solid #AA0A00;"}) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
        <% @house.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/><br/>
  <div class="letra_vermelha">
    <%= f.label 'Rua: *' %>&nbsp;
    <%= f.text_field :street, :style => "width: 70%;" %>
  </div>

  <div class="letra_vermelha">
    <%= f.label 'Número: * ' %>&nbsp;
    <%= f.text_field :number, :style => "width: 15%;" %>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'Complemento: * ' %>&nbsp;
    <%= f.text_field :complement, :style => "width: 15%;" %>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'Bairro: * ' %>&nbsp;
    <%= f.text_field :neightborhood, :style => "width: 15%;" %>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'Cidade: * ' %>&nbsp;
    <%= f.text_field :city, :style => "width: 15%;" %>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'Estado: * ' %>&nbsp;
    <%= f.text_field :state, :style => "width: 15%;" %>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'País: * ' %>&nbsp;
    <%= f.text_field :country, :style => "width: 15%;" %>
  </div>

  <div class="letra_vermelha"><%= f.label 'Foto: ' %>&nbsp;
    <%= f.file_field :image %></div>
  <br/>
  <div class="actions">
    <%= f.submit 'Enviar dados'%>
  </div>
<% end %>
