<%= form_for(@house, :html => { :class => 'form_interno'}) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Rua: *' %>&nbsp;
    <%= text_field_tag :street, '', :style => "width: 60%;" %>
  </div>
  
  <div class="field">
    <%= f.label 'Número: * ' %>&nbsp;
    <%= text_field_tag :number, '', :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Complemento: * ' %>&nbsp;
    <%= text_field_tag :complement, '', :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Bairro: * ' %>&nbsp;
    <%= text_field_tag :neightborhood, '', :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Cidade: * ' %>&nbsp;
    <%= text_field_tag :city, '', :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Estado: * ' %>&nbsp;
    <%= text_field_tag :state, '', :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'País: * ' %>&nbsp;
    <%= text_field_tag :country, '', :style => "width: 15%;" %>
  </div>

  
    <div class="field"><%= f.label 'Foto: ' %>&nbsp;
	<%= f.file_field :image %></div>
	<br>	
  <div class="actions">
    <%= f.submit ''%>
  </div>
<% end %>
