<%= form_for(@house, :html => { :class => 'form_interno'}) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Rua: *' %>
    <%= f.text_field :street, :style => "width: 70%;" %>
  </div>
  
  <div class="field">
    <%= f.label 'Número: * ' %>
    <%= f.text_field :number, :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Complemento: * ' %>
    <%= f.text_field :complement, :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Bairro: * ' %>
    <%= f.text_field :neightborhood, :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Cidade: * ' %>
    <%= f.text_field :city, :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'Estado: * ' %>
    <%= f.text_field :state, :style => "width: 15%;" %>
  </div>
  <div class="field">
    <%= f.label 'País: * ' %>
    <%= f.text_field :country, :style => "width: 15%;" %>
  </div>
  <div class="actions">
    <%= f.submit ''%>
  </div>
<% end %>
