<div>
<div class="listagemcinza">
<h1>Listing houses</h1>


<% @houses.each do |house| %>
<% if house.user_id == current_user.id %>
    
    <div class="linha">
    <span class="rua">
    	<%= house.street %>, <%= house.number %>
    	
    	<% if house.complement != nil && house.complement != "" %>
    	  - <%= house.complement %>
    	<% end %>
    	 - <%= house.neightborhood %>
    </span>
    <div></div>
    <span class="localizacao">
    	<%= house.city %> - <%= house.state %> - <%= house.country %>
    </span>
    <div></div>
    <span><%= link_to 'Show', house %></span>
    <span><%= link_to 'Edit', edit_house_path(house) if can? :edit, house%></span>
    <span><%= link_to 'Destroy', house, confirm: 'Are you sure?', method: :delete if can? :destroy, house %></span>
    
</div>
<% end %>
<%end%>

<br />

</div>
<%= link_to 'New House', new_house_path %>
</div>
