<div id="main" role="main" class="application">
  <div class="listagemcinza">
    <h1>Casas</h1>
    <% @houses.each do |house| %>
      <% if house.user_id == current_user.id %>
        <div class="linha row-fluid">
          <div class="span3">
            <%= image_tag house.image.url(:thumb), :style => "float: right"%>
          </div>
          <div class="span9">
            <span class="rua">
              <%= link_to house.get_address, house%>
            </span>
            <br/>
            <span class="localizacao">
              <%= house.city %> - <%= house.state %> - <%= house.country %>
            </span>
            <br/>
            <span><%= link_to 'Editar', edit_house_path(house) if can? :edit, house%></span>
            <span><%= link_to 'Remover', house, confirm: 'Deseja remover esta casa?', method: :delete if can? :destroy, house %></span>

          </div>
        </div>
      <% end %>
    <%end%>
    <%= will_paginate @houses %>
    <br />
    <%= link_to 'Nova casa', new_house_path %>
  </div>

</div>
