<div id="main" role="main" class="application">
  <%if !notice.nil?%>
    <div class="alert alert-success"><%= notice %></div>
    <%end%>
  <div style="position: relative; float: left; margin-left: 20px">
    <%= image_tag @house.image.url(:medium)%>
  </div>
  <div style="margin-left: 347px">
    <p>
      <b>Rua:</b>
      <%= @house.street %>
    </p>
    <p>
      <b>Número:</b>
      <%= @house.number %>
    </p>
    <p>
      <b>Complemento:</b>
      <%= @house.complement %>
    </p>
    <p>
      <b>Bairro:</b>
      <%= @house.neightborhood %>
    </p>
    <p>
      <b>Cidade:</b>
      <%= @house.city %>
    </p>
    <p>
      <b>Estado:</b>
      <%= @house.state %>
    </p>
    <p>
      <b>País:</b>
      <%= @house.country %>
    </p>
  </div><br />


    <div class="listagemcinza" style="border-radius: 0 10px 10px 10px ">
      <br />
    <h1>Recursos</h1>
    <br />
    <% @resources.each do |resource| %>
    <br />
        <div class="linha"style="border-bottom:2px solid #AA0A00; height: 120px">
          <div style="float: left; position: relative;width: 35%;">
            <%= image_tag(resource.assets.first.image.url(:thumb) ,  :height => "100px", :width => "100px") unless resource.assets.first.nil?%>
          </div>
          <div style="margin-left: 5px;position: relative; float:left;width: 64%; text-align: justify">
            <span class="rua"><%= link_to resource.place, resource %></span>
            <span >
              <br />
              <p style="text-align: justify">
                <%= resource.description.to 200 %>
              </p></span>
          </div>
          <div style="clear:both;"></div>
          <span></span>
         </div>
        <div></div>
        <div style="clear:both;"></div>
      
    <% end %>

  </div>
      <div style="margin-left: 20px">
    <%= link_to 'Adicionar um novo recurso', new_resource_path(:house_id => @house.id) %> |
    <%= link_to 'Editar Casa', edit_house_path(@house) %>
  </div>
</div>