
<h2 class="titulo"> <%= pluralize @total_comments, 'comentário'  %> </h2>
<% if @comments.blank? %>
  <p> Não há nenhum comentário </p>
<% else %>
  <% @comments.each do |comment| %>
    <% commenter = User.find comment.commenter_id %>
    <% unless comment.comment.blank? %>
      <div class="row-fluid listagemcampobranco comment">
        <div class="span3">
          <h4><%= commenter.name %> disse:</h4>
          <br/>
          <%= comment.created_at.strftime('%d/%m/%Y %H:%M:%S')%>
          <br/>
          <%= link_to "Remover", comment, confirm: 'Deseja remover este comentário?',
            method: :delete if current_user.id == comment.commenter_id %>
          <a id="<%= "comment_edit_#{comment.id}" %>" href="#"> Editar </a>
        </div>
        <div class="span9">
          <p> <%= best_in_place_if (current_user.id == comment.commenter_id), comment, :comment,
              :activator => "#comment_edit_#{comment.id}", :type => :textarea, :html_attrs => {:class => 'best_in_place'},
              :ok_button => "Atualizar", :cancel_button => "Cancelar"%> </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= will_paginate @comments %>
<% end %>

<script>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
</script>