<div>
  <div >
    <h1><%= @user.name %></h1>
    <div class="row-fluid">
      <div class="span6">
        <%= image_tag @user.avatar.url(:medium)%>
      </div>
      <div class="span6">
        <h4> Avaliação </h4>
        <form>
          <% (1..5).each do |i| %>
            <input name="star2" type="radio" class="star" value="<%= i %>" disabled="disabled" <%= "checked=\"checked\"" if i == @avg  %>/>
          <% end %>
        </form>
      </div>
    </div>
  </div>

  <h2 class="titulo"> Ofertas: </h2>
  <% if @offerings.empty? %>
    <p>
      Não está ofertando nenhum lugar.
    </p>
  <% else %>
    <table class="user">
      <tr>
        <th >Evento</th>
        <th width="70%">Espaço</th>
        <th >Interessados</th>
      </tr>
      <% for offering in  @offerings%>
        <tr>
          <% event = Event.find offering.event_id%> <td style="text-align: center"> <%= event.name%> </td>
          <% space = Resource.find offering.resource_id%> <td><%= space.description.to 200 %></td>
        </tr>
      <% end%>
    <%end%>
  </table>
  <br />

  <h2 class="titulo"> Comentários </h2>
  <% if @comments.blank? %>
    <p> Não há nenhum comentário </p>
  <% else %>
    <% @comments.each do |comment| %>
      <% commenter = User.find comment.commenter_id %>
      <% unless comment.comment.blank? %>
        <div class="listagemcampobranco">
          <h4> <%= commenter.name %> disse:</h4>
          <form>
            <% (1..5).each do |i| %>
              <input name="star2" type="radio" class="star" value="<%= i %>" disabled="disabled" <%= "checked=\"checked\"" if i == comment.grade  %>/>
            <% end %>
          </form>
          <br/>
          <p> <%= comment.comment %></p>

        </div>
      <% end %>
    <% end %>
    <%= will_paginate @comments %>
  <% end %>
  <h2 class="titulo"> Dê sua opinião</h2>
  <%= form_for (@comment) do |f| %>
    <%= hidden_field_tag "user_id", params[:id] %>
    <div >
      <%= f.text_area :comment, :style => "width: 90%; height: 100px;"%>
      <br />
      <div class="row-fluid">
        <div class="span3">
          <%= f.label "Nota:", :class => "fit_red", :style => "float:left"%>
          <% (1..5).each do |i| %>
            <input name="star1" type="radio" class="star" value="<%= i %>"/>
          <% end %>
        </div>
        <div class="offset6 span2 actions">
          <%= f.submit "Enviar"%>
        </div>
      </div>
    <%end%>
  </div>
</div>