<h1>Users#show</h1>
<%= image_tag @user.avatar.url(:thumb)%>
<p>Find me in app/views/users/show.html.erb</p>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>cpf: <%= @user.cpf if @user.cpf %></p>
<h3> Meus interesses</h3>

<% if @negociations.empty? %>
	<p> Você não tem nenhuma negociação em andamento.
	 <%= link_to "Clique aqui", events_path %>  </a> para checar eventos. </p>
<% else %>
<table>
  <tr>
    <th>Reservado</th>
    <th>Nome</th>
    <th>Descrição</th>
  </tr>

<% @negociations.each do |negociation| %>
	<% offering = Offering.find negociation.offering_id
	event = Event.find offering.event_id
	space = Resource.find offering.space_id %>
  <tr>
    <td><%= negociation.status %></td>
    <td><%= event.name %></td>
    <td><%= space.description %></td>
  </tr>
<% end %>
</table>

<% end %>
<h3> Minhas ofertas: </h3>

<table>
	<tr>
		<th>Evento</th>
		<th>Espaço</th>
		<th>Interessados</th>
	</tr>
	<% for offering in  @offerings%>
	<tr>
	 <% event = Event.find offering.event_id%>
	 
	 <td> <%= event.name%> </td>
	 <% space = Resource.find offering.space_id%>
	 <td><%= space.description %></td>
	 <td> <%= link_to "Checar interessados", negociations_path(:offering_id => offering.id) %> </td>
	</tr>
<% end%>
</table>

