<div class="form_normal">
<h2 class="titulo" style="margin-left: 40px">Esqueceu sua senha?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form_interno' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label 'Email:' %>&nbsp;
  <%= f.email_field :email %></div>
  <br />
  <div style="margin-left: 11px"><%= f.submit "" %></div>
<% end %>
<br />
<div style="margin-left: 40px">
<%= render :partial => "devise/shared/links" %>
</div>
</div>