<div id="main" role="main" class="application">
<h1>Esqueceu sua senha?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),  :class => "formAligns", :html => { :method => :post, :class => 'form_interno' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="letra_vermelha"><%= f.label 'Email:' %>
  <%= f.email_field :email %></div>
  <br />
  <div class="actions"><%= f.submit "Enviar" %></div>
<% end %>
<br />

<%= render :partial => "devise/shared/links" %>
</div>