<%= form_for(@event,  :class => "formAligns", :html => {:multipart => true,:class => 'form_interno' }) do |f| %>
  <% if @event.errors.any? %>
<div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@event.errors.count, "erro") %> proibiram esse evento de ser salvo:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="letra_vermelha">
    <%= f.label 'Nome: '%>
    <%= f.text_field :name, :style => "width: inherit" %>
  </div>
  <br />
  <div class="letra_vermelha">
    <%= f.label 'Descrição: '%>
    <%= f.text_area :description, :style => "width: inherit; height: 100px"%>
  </div>
  <br />

    <%= f.fields_for(:address) do |g| %>
      <div class="letra_vermelha">
        <%= g.label 'Rua: *' %>
        <%= g.text_field :street, :style => "width: 50%" %>
      </div>
      <div class="letra_vermelha">
        <%= g.label 'Número: *' %>
        <%= g.text_field :number, :style => "width: 50%" %>
      </div>
      <div class="letra_vermelha">
        <%= g.label 'Complemento:' %>
        <%= g.text_field :complement, :style => "width: 50%" %>
      </div>
      <div class="letra_vermelha">
        <%= g.label 'Bairro: *' %>
        <%= g.text_field :neightborhood, :style => "width: 50%" %>
      </div>
      <div class="letra_vermelha">
        <%= g.label 'Cidade: *' %>
        <%= g.text_field :city%>
      </div>
      <div class="letra_vermelha">
        <%= g.label 'Estado: *' %>
        <%= g.text_field :state %>
      </div>
      <div class="letra_vermelha">
        <%= g.label 'País: *' %>
        <%= g.text_field :country %>
      </div>
    <% end %>

  <div class="letra_vermelha">
    <%= f.label 'Data: ' %>
    <%= f.date_select :date, {}, :style => "width: 110px" %>
  </div>

  <div class="letra_vermelha">
    <%= f.label 'Foto: ' %>
    <%= f.file_field :avatar%></div>

  <br/>
  <div class="actions" >
    <%= f.submit 'Enviar dados'%>
  </div>
<% end %>
