<%= form_for(@event,  :html => {:multipart => true, :class => 'form_interno form-horizontal' }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@event.errors.count, "erro") %> proibiram esse evento de ser salvo:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group letra_vermelha">
    <%= f.label 'Nome: ', :class => "control-label"%>
    <div class="controls">
      <%= f.text_field :name, :style => "width: inherit" %>
    </div>

  </div>
  <div class="control-group letra_vermelha">
    <%= f.label 'Descrição: ', :class => "control-label"%>
    <div class="controls">
      <%= f.text_area :description, :style => "width: inherit; height: 100px"%>
    </div>

  </div>

  <%= f.fields_for(:address) do |g| %>
    <div class="control-group letra_vermelha">
      <%= g.label 'Rua: *', :class => "control-label" %>
      <div class="controls">
        <%= g.text_field :street, :style => "width: 50%" %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= g.label 'Número: *', :class => "control-label" %>
      <div class="controls">
        <%= g.text_field :number, :style => "width: 50%" %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= g.label 'Complemento:', :class => "control-label" %>
      <div class="controls">
        <%= g.text_field :complement, :style => "width: 50%" %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= g.label 'Bairro: *', :class => "control-label" %>
      <div class="controls">
        <%= g.text_field :neightborhood, :style => "width: 50%" %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= g.label 'Cidade: *', :class => "control-label" %>
      <div class="controls">
        <%= g.text_field :city%>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= g.label 'Estado: *', :class => "control-label" %>
      <div class="controls">
        <%= g.text_field :state %>
      </div>
    </div>

    <div class="control-group letra_vermelha">
      <%= g.label 'País: *', :class => "control-label" %>
      <div class="controls">
        <%= g.text_field :country %>
      </div>
    </div>
  <% end %>

  <div class="control-group letra_vermelha">
    <%= f.label 'Data: ', :class => "control-label" %>
    <div class="controls">
      <%= f.date_select :date, {}, :style => "width: 110px" %>
    </div>
  </div>

  <div class="control-group letra_vermelha">
    <%= f.label 'Foto: ', :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :avatar%>
    </div>
  </div>

  <div class="control-group actions" >
    <div class="controls">
      <%= f.submit 'Enviar dados'%>
    </div>
  </div>
<% end %>
