<%= form_for(@event,  :class => "formAligns", :html => {:multipart => true,:class => 'form_interno' }) do |f| %>
  <% if @event.errors.any? %>
<div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="letra_vermelha">
    <%= f.label 'Nome: '%>
    <%= f.text_field :name, :style => "width: inherit" %>
  </div>
  <br />
  <div class="letra_vermelha">
    <%= f.label 'Descrição: '%>
    <%= f.text_area :description, :style => "width: inherit; height: 100px"%>
  </div>
  <br />
  <div class="letra_vermelha">
    <%= f.label 'Endereço: ' %>
    <%= f.text_field :address, :style => "width: 50%" %>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'Cidade: ' %>
    <%= f.text_field :city%>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'Estado: ' %>
    <%= f.text_field :state %>
  </div>
  <div class="letra_vermelha">
    <%= f.label 'Data: ' %>
    <%= f.date_select :date, {}, :style => "width: 110px" %>
  </div>

  <div class="letra_vermelha">
    <%= f.label 'Foto: ' %>
    <%= f.file_field :avatar%></div>

  <br/>
  <div class="actions" >
    <%= f.submit 'Enviar dados'%>
  </div>
<% end %>
