<div id= "main2" role="main" class="application"  >
  <div class="listagemcinza">
    <h1>Eventos</h1>
    <% @events.each do |event| %>
      <br />
      <div class="linha row-fluid">
        <div class="span9">
          <span><%= link_to event.name, event if can? :show, event, {:class=>"linkum"}%></span>
          <br/>
          <%=  simple_format (event.description.to 500), :style => "text-align: left" %>
        </div>
        <div class="span3">
          <%= image_tag event.avatar.url(:thumb), :style => "float: right"%>
        </div>
      </div>
    <%end%>
    <%= will_paginate @events %>
  </div>
  <br />
  <% if user_signed_in? %>
    <%= link_to 'Criar um novo evento', new_event_path %>
  <%end%>
</div>


<div class="destaquelateral" style="width: 250px;" hidden>
  <h2> Destaques </h2>
  <div>
    <img src="/resources/images/Bmw-jazz-festival-saiba-tudo-2012-2.jpg" style="margin: 10px;" />
  </div>
  <img src="/resources/images/Bmw-jazz-festival-saiba-tudo-2012-2.jpg" style="margin: 10px;" />
</div>
