<div style="background-color: #F4F2F2">
<h1 style="font-size: 20pt; font-family: Trebuchet MS; color: #BD2026; margin-left: 5%"%>Eventos</h1>
<% @events.each do |event| %>
<div style="background-color: white;margin-left: 10%;margin-right: 10%;">
<li style="list-style-image: url('/resources/images/icone-de-listagem-vermelho.png')">
<%= link_to event.name, event if can? :show, event %>
</li>
<%= event.description %>
<%= image_tag event.avatar.url(:thumb)%>
</div>
<br />
<%end%>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.address %></td>
    <td><%= event.city %></td>
    <td><%= event.state %></td>
    <td><%= event.date %></td>
    <td><%= link_to 'Show', event if can? :show, event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) if can? :edit, event %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete if can? :destroy, event %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
