
<div >
	
  
	
	
  <div style="float:left; background-color: #F4F2F2; margin-left: 3%;width: 70%;border-radius: 10px">
    <h1 style="font-size: 20pt; font-family: Trebuchet MS; color: #BD2026; margin-left: 6%"%>Eventos</h1>




      <% @events.each do |event| %>
      <div style="background-color: white;margin-left: 6%;margin-right: 2%;border-radius: 10px">
        <li style="list-style-image: url('/resources/images/icone-de-listagem-vermelho.png')">
          <%= link_to event.name, event if can? :show, event %>
        </li>

        <div style="height: 20%; margin-left: 3%;">
          
          <div style="float: left; width: 80%; text-align: justify"><%= event.description.to 500 %></div>
          <div style="float: right"><%= image_tag event.avatar.url(:thumb)%></div>
          
          <div style="clear:both"></div>
	      <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete if can? :destroy, event %>
        </div>
      </div>
      <br />
    <%end%>
  </div>
  
  <div style="float:right;border: 1px solid #A80713; border-radius: 10px; color: #A80713; font-size: 20pt; font-weight: bold;">
	  Destaques
    <div>
	  <img src="/resources/images/Bmw-jazz-festival-saiba-tudo-2012-2.jpg" style="margin: 10px;" />
    </div>
  </div>
  <div style="clear:both"></div>
</div>

<!--<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.address %></td>
    <td><%= event.city %></td>
    <td><%= event.state %></td>
    <td><%= event.date %></td>
    <td><%= link_to 'Show', event if can? :show, event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) if can? :edit, event %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete if can? :destroy, event %></td>
  </tr>
<% end %>
</table>-->

<br />
<% if user_signed_in? %>
<%= link_to 'Criar um novo evento', new_event_path, :style => "margin-left: 3%" %>
<%end%>
