
<div >
	
  
	
	
  <div class="listagemcinza">
    <h1 style="font-size: 20pt; font-family: Trebuchet MS; color: #BD2026; margin-left: 6%"%>Eventos </h1>
		



      <% @events.each do |event| %>
      <div class="listagemcampobranco">
        <li style="list-style-image: url('/resources/images/icone-de-listagem-vermelho.png')">
          <%= link_to event.name, event if can? :show, event %>
        </li>

        <div style="height: 20%; margin-left: 3%;">
          
          <div style="float: left; width: 80%; text-align: justify"><%= event.description.to 500 %></div>
          <div style="float: right"><%= image_tag event.avatar.url(:thumb)%></div>
          
          <div style="clear:both"></div>
	    <!--  <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete if can? :destroy, event %>-->
        </div>
      </div>
      <br />
    <%end%>
  </div>
  
  <div class="destaquelateral">
	  Destaques
    <div>
	  <img src="/resources/images/Bmw-jazz-festival-saiba-tudo-2012-2.jpg" style="margin: 10px;" />
    </div>
	   <img src="/resources/images/Bmw-jazz-festival-saiba-tudo-2012-2.jpg" style="margin: 10px;" />
  </div>
  <div style="clear:both"></div>
</div>

<br />
<% if user_signed_in? %>
<%= link_to 'Criar um novo evento', new_event_path, :style => "margin-left: 3%" %>
<%end%>
