<div style="margin-left: 20px;">
	<div style="position: relative; float: left">
		<%= image_tag @event.avatar.url(:medium)%>
	</div>
	
<div style="margin-left: 20px; position: relative; float: left"> 
<p id="notice">
	<%= notice %>
</p>
<p>
	<b>Name:</b>
	<%= @event.name %>
</p>
<p>
	<b>Address:</b>
	<%= @event.address %>
</p>
<p>
	<b>City:</b>
	<%= @event.city %>
</p>
<p>
	<b>State:</b>
	<%= @event.state %>
</p>
<p>
	<b>Date:</b>
	<%= @event.date %>
</p>
<p></p>


</div>
	

	<div style="clear: both;"></div>
</div>
<p style="margin-left: 20px; font-weight: bold; font-size: 20pt" >Descrição</p>
		
	<div style="margin: 10px 10px; padding:10px 10px; overflow:auto; padding-right: 30px; width: 90%; height: 250px">
		
		<%= @event.description %>
	</div>
	

<% if user_signed_in? %>
<%= link_to 'Adicionar oferta', new_offering_path(:event_id => @event.id) %> |

<%= link_to 'Mostrar ofertas disponíveis', offerings_path(:event_id => @event.id) %> |
<%= link_to 'Edit', edit_event_path(@event) %> <!--<%= link_to 'Back', events_path %>-->
<%end%>
