<p id="notice"><%= notice %></p>

<%= image_tag @event.avatar.url(:medium)%>
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<%= link_to 'Adicionar oferta', new_offering_path(:event_id => @event.id) %> |
<%= link_to 'Mostrar ofertas disponíveis', offerings_path(:event_id => @event.id) %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
