<div>
<div style="float: left">
<%= image_tag @event.avatar.url(:medium)%>
</div>
<div style="overflow:scroll;overflow-y:scroll;overflow-x:hidden;margin-left: 70px;margin-right: 70px;height:200px;float: right">
  <%= @event.description %>
  </div>
  </div>
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
 
</p>

<% if user_signed_in? %>
<%= link_to 'Adicionar oferta', new_offering_path(:event_id => @event.id) %> |
<%end%>
<%= link_to 'Mostrar ofertas disponíveis', offerings_path(:event_id => @event.id) %> |
<%= link_to 'Edit', edit_event_path(@event) %> 
<!--<%= link_to 'Back', events_path %>-->
