<div id="main" role="main" class="application">
  <div style="margin-left: 20px;">
    <div style="position: relative; float: left">
      <%= image_tag @event.avatar.url(:medium)%>
    </div>
    <div style="float: right; padding-right: 30px">
      <iframe src="http://maps.google.com.br/maps?q=<%= @event.get_address.gsub(/[ ]/, "+") %>&output=embed"
              width="425" height="350">
        <a href="http://maps.google.com.br/maps?q=<%= @event.get_address.gsub(/[ ]/, "+")%>"
           Click here to view our location on Google Maps</a>.
      </iframe>
    </div>
    <div style=" position: relative; float: left">
      <p id="notice">
        <%= notice %>
      </p>
      <p>
        <b>Nome:</b>
        <%= @event.name %>
      </p>
      <% if @event.address_id.nil? %>
        <p>
          <b>Endereço:</b>
          <%= @event.address %>
        </p>
        <p>
          <b>Cidade:</b>
          <%= @event.city %>
        </p>
        <p>
          <b>Estado:</b>
          <%= @event.state %>
        </p>
      <% else %>
        <p>
          <b>Endereço:</b>
          <%= @address.street + ", " + @address.number.to_s %>
        </p>
        <p>
          <b>Cidade:</b>
          <%= @address.city %>
        </p>
        <p>
          <b>Estado:</b>
          <%= @address.state %>
        </p>
      <% end %>
      <p>
        <b>Data:</b>
        <%= @event.date %>
      </p>
      <p></p>


    </div>


    <div style="clear: both;"></div>
  </div>
  <p style="margin-left: 20px; font-weight: bold; font-size: 20pt" >Descrição</p>

  <div style="margin: 10px 10px; padding:10px 10px; overflow:auto; padding-right: 30px; width: 90%">

    <%= @event.description %>
  </div>


  <br />
  <% if user_signed_in? %>
    <div style="margin-left: 20px">
      <%= link_to 'Adicionar oferta', new_offering_path(:event_id => @event.id) %> |

      <%= link_to 'Mostrar ofertas disponíveis', offerings_path(:event_id => @event.id) %>
      <% if current_user.id== @event.user_id%>
        | <%= link_to 'Editar', edit_event_path(@event) %> <!--<%= link_to 'Back', events_path %>-->
      <%end%>
    </div>

  <div style="margin-left: 20px">
      <br/><br/>
      <h1> Fit in...</h1>
      <br/>

      <div class="listagemcinza" style="border-radius: 0 10px 10px 10px ">
        <% @offerings.each do |offering| %>
          <% @resource  = Resource.find offering.resource_id%>
          <% @house = House.find @resource.house_id%>
        <div class="linha" style="border-bottom:2px solid #AA0A00; height: 120px">
            <div style="float: left; position: relative;width: 15%;">
              <%= image_tag @house.image.url(:thumb),  :height => "100px", :width => "100px"%>
            </div>
            <div style="margin-left: 5px;position: relative; float:left;width: 55%;border-right:3px solid #AA0A00;">
              <span class="rua"><%= link_to offering.titulo, offering if can? :show, offering %></span>
              <span >
                <p style="text-align: justify">
                  <%= @resource.description.to 150 %>
                </p></span>
            </div>
            <div style="float: right;width: 25%">
              <b style="font-size: 20pt; font-family: Trebuchet MS; color: #BD2026;"> R$ <%= '%.2f' % offering.price %></b>
            </div>
            
            <div style="clear:both;"></div>
          </div>
          <br/>
        <%end%>
      </div>
      <br />

    <%end%>
  </div>

</div>