<div id="main" role="main" class="application">
  <div class="container-fluid" >
    <%if !notice.nil?%>
      <div class="alert alert-success"><%= notice %></div>
    <%end%>
    <div class="row-fluid">
      <div class="span5" >
        <%= image_tag @event.avatar.url(:medium), :width=> '350px'%>
        <div >
          <p>
            <b>Nome:</b>
            <%= @event.name %>
          </p>
          <p>
            <b>Endereço:</b>
            <%= @event.address.street + ", " + @event.address.number.to_s %>
          </p>
          <p>
            <b>Cidade:</b>
            <%= @event.address.city %>
          </p>
          <p>
            <b>Estado:</b>
            <%= @event.address.state %>
          </p>
          <p>
            <b>Data:</b>
            <%= @event.date %>
          </p>
        </div>
      </div>
      <div class="span6  offset1">
        <iframe src="<%= @event.address.google_maps_link %>" width="425" height="350">
          <a href=src="<%= @event.address.google_maps_link %>"
             Clique aqui para ver o local no Google Maps</a>.
        </iframe>
      </div>
    </div>
  </div>

  <h1 >Descrição</h1>
  <div style="margin: 10px 20px; overflow:auto; width: 90%">
    <%= simple_format(@event.description) %>
  </div>

  <br />
  <% if user_signed_in? %>
    <div style="margin-left: 20px">
      <%= link_to 'Adicionar oferta', new_offering_path(:event_id => @event.id) %>
      <% if current_user.id== @event.user_id%>
        | <%= link_to 'Editar', edit_event_path(@event) %> <!--<%= link_to 'Back', events_path %>-->
      <%end%>
    </div>

    <div >
      <br/><br/>
      <h1>Fit in...</h1>
      <br/>

      <div class="listagemcinza">
        <% @offerings.each do |offering| %>
          <% @resource  = Resource.find offering.resource_id%>
          <div class="linha row-fluid" style="border-bottom:2px solid #AA0A00; height: 120px">
            <div class="span2">
              <%= image_tag @resource.picture,  :height => "100px", :width => "100px"%>
            </div>
            <div class="span7" style="border-right:3px solid #AA0A00;">
              <span class="rua"><%= link_to offering.titulo, offering if can? :show, offering %></span>
              <span >
                <%= simple_format(@resource.description.to 150) %>
              </span>
            </div>
            <div class="span3" >
              <b style="font-size: 20pt; font-family: Trebuchet MS; color: #BD2026;"> R$ <%= '%.2f' % offering.price %></b>
            </div>

          </div>
          <br/>
        <%end%>
      </div>
      <br />
      <%= will_paginate @offerings %>
    <%end%>
  </div>

</div>