<div class="form_normal" style="width: 60%">
	

<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

<h2 class="titulo" style="margin-left: 40px">Entrar</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form_interno'}) do |f| %>
  <div class="field"> <%= f.label "Email: " %> &nbsp;
  <%= f.email_field :email %></div>

  <div class="field"><%= f.label 'Senha: '%> &nbsp;
  <%= f.password_field :password %></div>
  <br />
  <% if devise_mapping.rememberable? -%>
    <div style="margin-left: 154px"><%= f.check_box :remember_me %> <%= f.label "Lembrar de mim:"  %></div>
  <% end -%><br />

  <div style="margin-left: 154px"><%= f.submit "" %></div>
<% end %><br />
<div style="margin-left: 40px">
<%= render :partial => "devise/shared/links" %>
</div>
</div>
