<%= form_for(@negociation) do |f| %>
  <% if @negociation.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@negociation.errors.count, "erro") %> proibiram essa negociação ser salva:</h2>

      <ul>
      <% @negociation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :offering_id %><br />
    <%= f.number_field :offering_id %>
  </div>
  <div class="actions">
     <%= f.submit 'Enviar', :style=>"background-color:#A80713; color:white;width: 120px;
height: 40px;margin-left: 180px;border-radius: 10px;"%>
  </div>
<% end %>
