<div class="application" style="width: 60%">
<h1 class="titulo"> Negociações </h1>

<div class="listagemcampobranco">
<%= form_tag :action => :update_status do %>
<table class="table">
  <tr>
    <th> Status</th>
    <th> Nome</th>
    <th> Email </th>
    <th> Oferta</th>
    <th></th>
  </tr>


<% @negociations.each do |negociation| %>
	<%
	user = User.find negociation.user_id
	offering = Offering.find negociation.offering_id
	%>
  <tr>
    <td><%= check_box_tag "selected[]", negociation.id, negociation.status%></td>
    
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td> <%=offering.titulo%></td>
    <td><%= link_to 'Deletar Negociação', negociation, confirm: 'Você tem certeza que deseja apagar esta negociação?', method: :delete %></td>
  </tr>
<% end %>

<%= hidden_field_tag :offering_id, params[:offering_id].to_i %>

</table>


</div>

<div class="actions"><%= submit_tag "Atualizar", :style => "margin-left: 45px; margin-top: 10px"%></div>

<% end %>
</div>
