<div class="form_normal" style="width: 60%;margin-left: 20%;">
  <br />
<h1 class="titulo"> Negociações </h1>

<div class="listagemcampobranco">
<%= form_tag :action => :update_status do %>
<table class="user">
  <tr>
    <th> Status</th>
    <th> Nome</th>
    <th> Email </th>
    <th> Oferta</th>
    <th></th>
  </tr>


<% @negociations.each do |negociation| %>
	<%
	user = User.find negociation.user_id
	offering = Offering.find negociation.offering_id
	%>
  <tr>
    <td><%= check_box_tag "selected[]", negociation.id, negociation.status%></td>
    
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td> <%=offering.titulo%></td>
    <td><%= link_to 'Deletar Negociação', negociation, confirm: 'Você tem certeza que deseja apagar esta negociação?', method: :delete %></td>
  </tr>
<% end %>

<%= hidden_field_tag :offering_id, params[:offering_id].to_i %>

</table>


</div>

<%= submit_tag "Atualizar", :style => " margin-top: 10px;background-color:#A80713; color:white;width: 120px;
height: 40px;margin-left: 180px;border-radius: 10px;"%>

<% end %>
</div>
