<h1>Listing negociations</h1>

<%= form_tag :action => :update_status do %>
<table>
  <tr>
    <th>Status</th>
    <th>User</th>
    <th>Offering</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @negociations.each do |negociation| %>
  <tr>
    <td><%= check_box_tag "selected[]", negociation.id, negociation.status%></td>
    
    <td><%= negociation.user_id %></td>
    <td><%= negociation.offering_id %></td>
    <td><%= link_to 'Show', negociation %></td>
    <td><%= link_to 'Edit', edit_negociation_path(negociation) %></td>
    <td><%= link_to 'Destroy', negociation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

<%= hidden_field_tag :offering_id, params[:offering_id].to_i %>

</table>
<%= submit_tag "Atualizar"%>

<% end %>
<br />

<%= link_to 'New Negociation', new_negociation_path %>
