<p id="notice"><%= notice %></p>

<p>
  <b>House:</b>
  <%= @resource.house_id %>
</p>

<p>
  <b>Breakfast:</b>
  <%= @resource.breakfast %>
</p>

<p>
  <b>Lunch:</b>
  <%= @resource.lunch %>
</p>

<p>
  <b>Dinner:</b>
  <%= @resource.dinner %>
</p>

<p>
  <b>Private bathroon:</b>
  <%= @resource.private_bathroon %>
</p>

<p>
  <b>Private space:</b>
  <%= @resource.private_space %>
</p>

<p>
  <b>Parking spaces:</b>
  <%= @resource.parking_spaces %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @resource.picture %>
</p>

<p>
  <b>Vacancies:</b>
  <%= @resource.vacancies %>
</p>

<%= form_for(@resource) do |f| %>
<%= f.fields_for :assets do |asset|%>
	<% unless asset.object.new_record? %>
	
	<div>
		<%= link_to(image_tag(asset.object.image.url(:thumb)),asset.object.image.url(:original),:rel => 'lightbox[makoto]')%>
	</div>
	<% end %>
<%end%>
<%end%>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
