<div style="background-color: #BD2026;">
<ul class="nav">
	<li>
    <%= link_to(image_tag('/resources/images/botao-04.png'), user_path(current_user.id))%>
    </li>
	<li>
    <%= link_to(image_tag('/resources/images/botao-10.png'),events_path)%>
    </li>
    <li>
    <%= link_to(image_tag('/resources/images/botao-12.png'), houses_path) %>
    </li>
    <li>
    <%= link_to(image_tag('/resources/images/botao-13.png'), destroy_user_session_path, :method=>'delete') %>        
    </li>
    <li>
    <%= link_to(image_tag('/resources/images/botao-14.png'), edit_user_registration_path) %>
    </li>
    
    <li>
    	<div style="float:right; padding-right: 5%; padding-top: 1%;">
        <%= form_tag events_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search] %>
		<!--<%= image_submit_tag '/resources/images/botao-01.png', :name => nil%>-->
		<%= submit_tag 'Buscar', :name => nil%>
		<% end %>
		</div>
    </li>
</ul>
</div>
