<ul class="menu-horizontal">
    <li><%= link_to("home", "/")%></li>
    <li><%= link_to("como funciona", "/comofunciona") %></li>
    <li><%= link_to("eventos",events_path)%></li>    
    <li><%= link_to("login", "/users/sign_in") %></li>
    <li><%= link_to("cadastre-se", "/users/sign_up") %></li>
</ul>
