<ul class="menu-horizontal">
    <li><%= link_to("home", user_path(current_user.id))%></li>
    <li><%= link_to("eventos",events_path)%></li>
    <li><%= link_to("acomodações", resources_path) %></li>
    <li><%= link_to("logout", destroy_user_session_path, :method=>'delete') %></li>
    <li><%= link_to("editar conta", edit_user_registration_path) %></li>
          
            
</ul>

