<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Fit In A Place</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link href="/stylesheets/lightbox.css" rel="stylesheet" />
		<%= javascript_include_tag "application" %>

		<%= javascript_include_tag 'jquery'%>
	</head>
	<body>
		<div style="min-width: 100%">
		<div id="background">
			<div id="container" class="container">
				<header>
					<div class="redline"></div>
					<img src="/resources/images/Logo-2.png" alt="Fit In A Place" style="margin-bottom: 3px; margin-left: 19px; margin-top: 3px;"</img>
					<img src="/resources/images/Header.png"style=" margin-left: 100px; margin-bottom: 15px; margin-top: 15px" />
					<% if user_signed_in? %>
					<%= render 'layouts/navigation' %>
					<%else%>
					<%= render 'layouts/navigationdeslog' %>
					<%end%>
			</header>
			<div id="main" role="main">
				<%= yield %>
			</div>
			<div id="footer" style="clear: both" >
			<span style="margin: 20px" >About</span> <span>FAQ</span> <span>Termos de Uso</span> <span>Termos de Segurança</span>
			</div>
			<div class="redline"></div>
		</div>
		</div> <!--! end of #container -->
		</div>
	</body>
</html>
