<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Fit In A Place</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag 'jquery'%>
    <%= javascript_include_tag 'swfobject'%>
    <%= javascript_include_tag 'tagcanvas'%>
  
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      window.onload = function() {
        try {
          TagCanvas.Start('myCanvas','tags',{
            textColour: '#A80713',
            outlineColour: '#A80713',
            reverse: true,
            depth: 1.8,
            maxSpeed: 0.03	
          });
        } catch(e) {
          // something went wrong, hide the canvas container
          document.getElementById('myCanvasContainer').style.display = 'none';
        }
      };
    </script>

    
    <script type="text/javascript">
	<!--
	swfobject.addDomLoadEvent(function() {
  	swfobject.embedSWF(
  					"text_and_image_cloud.swf", "tagcloud",
					"600", "250",
					"10", "expressInstall.swf",
					{
						cloud_data:"cloud_data.xml",
						tcolor:"0x999999",
						tcolor2:"0x666666",
						hicolor:"0x494949",
						tspeed:"250",
						fontFace:"Trebuchet MS"
					},
					{wmode: "window", menu: "false", quality: "best"}
					);
	});
//-->
	</script>
  </head>
  <body>
    <div style="width: 100%">
      <div id="background">
        <div id="header">
          <div class="redline"></div>
      
          <div>
            <img src="/resources/images/Logo-1.png" alt="Fit In A Place" style="float:left;margin-bottom: 3px; margin-left: 10px; margin-top: 3px; width:30%"</img>
		
		
		
		
	<div id="myCanvasContainer">
      <canvas width="800" height="300" id="myCanvas">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
      </canvas>
    </div>
    <div id="tags">
      <ul>
        <li><a href="http://www.google.com" target="_blank">[ BMW Jazz Festival ]</a></li>
        <li><a href="/fish">[ Red Bull Pape Wing ]</a></li>
        <li><a href="/chips">[ Rock in Rio ]</a></li>
        <li><a href="/salt">[ Copa do mundo ]</a></li>
        <li><a href="/vinegar">[ Olimpiadas ]</a></li>
         <li><a href="http://www.google.com" target="_blank">[ BMW Jazz Festival ]</a></li>
        <li><a href="/fish">[ Red Bull Pape Wing ]</a></li>
        <li><a href="/chips">[ Rock in Rio ]</a></li>
        <li><a href="/salt">[ Copa do mundo ]</a></li>
        <li><a href="/vinegar">[ Olimpiadas ]</a></li>
      </ul>
    </div>
          </div>
          <div style="clear:both;"></div>
          <div class="redline"></div>
        </div>
        <div style="clear: both;"></div>

        <div id="container">
        	    
          <%= yield %>
        </div>

        <div id="footer" style="clear: both" >
          <span style="margin: 20px" >
            <%= link_to("About", "/about")%>
          </span>
          <span><%= link_to("FAQ", "/faq")%></span>
          <span><%= link_to("Termos de Uso", "/termosdeuso")%></span>
          <span><%= link_to("Termos de Segurança", "/termosdeseguro")%></span>
        </div>
        <div class="redline"></div>
      </div>
    </div>
  </body>
</html>