<!DOCTYPE>
<html lang="pt-br">
    <head>
        <!--[if lte IE 8]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if lt  IE 9]><script src="dist/html5shiv.js"></script><![endif]-->
        <meta charset="utf-8"/>
        <script sype="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"> </script>
        <script sype="text/javascript" src="javascript/main.js"> </script>
        <link href="stylesheets/reset.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stylesheets/estilo_home.css" rel="stylesheet" type="text/css" media="all" />
        <title>Fit in a Place - Home</title>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag 'jquery'%>
        <%= csrf_meta_tags %>
    </head>
    <body>
            <!-- Menu -->
            <nav id="First-Menu">
                <% if user_signed_in? %>
                <%= render 'layouts/navigation' %>
                <%else%>
                <%= render 'layouts/navigationdeslog' %>
                <%end%>
            </nav>
            <%= yield %>
            <footer id="Footer" class="clear">
                <ul class="menu-horizontal">
                    <li><%= link_to("About", "/about")%></li>
                    <li><%= link_to("FAQ", "/faq")%></li>
                    <li><%= link_to("Termos de Uso", "/termosdeuso")%></li>
                    <li><%= link_to("Termos de Segurança", "/termosdeseguro")%></li>
                </ul>
                <div id="LineFooter"></div>
                <% if user_signed_in? %>
                <%= render 'layouts/navigation' %>
                <%else%>
                <%= render 'layouts/navigationdeslog' %>
                <%end%>
            </footer>
    </body>
</html>

